.app {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	// justify-content: center;
	text-align: center;
	padding: 20px;

	a {
		color: white;
		text-decoration: none;
	}

	label[role="button"] {
		margin-bottom: 20px;
	}

	.license-plate-toggle {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 30px;
	}

	.download-btn-container {
		margin-top: 30px;
		// margin-bottom: 100px;
	}

	.parent-container {
		width: 100%;
		display: flex;
		// flex-direction: column;

		.left-container {
			width: 50%;
			display: flex;
			flex-direction: column;
			align-items: center;

			.img-container {
				width: 80%;

				img {
					width: 100%;
					border: 2px solid black;
					border-radius: 8px;
				}
			}
		}

		.right-container {
			width: 50%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			.unique-objects-heading {
				margin-bottom: 10px;
			}

			.MuiChip-root {
				margin-right: 5px;
			}

			.blur-container {
				margin-top: 40px;
			}

			.btn-container {
				margin-top: 40px;

				label[role="button"] {
					margin-bottom: 0;
				}
			}
		}
	}

	.drag-drop {
		background: #fff;
		border: 1px solid var(--border-color);
		border-radius: 8px;
		margin-bottom: 20px;
	}

	.document-uploader {
		border: 2px dashed #4282fe;
		background-color: #f4fbff;
		padding: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
		border-radius: 8px;
		cursor: pointer;

		.sub-text {
			font-size: 15px !important;
		}

		&.active {
			border-color: #6dc24b;
		}

		.upload-info {
			display: flex;
			align-items: center;
			margin-bottom: 1rem;

			svg {
				font-size: 36px;
				margin-right: 1rem;
			}

			div {
				p {
					margin: 0;
					font-size: 16px;
				}

				p:first-child {
					font-weight: bold;
				}
			}
		}

		.file-list {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			width: 100%;
			height: 20vh;
			&__container {
				width: 100%;
				height: 100%;
				overflow: auto;
			}
		}

		.file-item {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0.5rem;
			border: 1px solid var(--border-color);
			border-radius: 8px;

			.file-info {
				display: flex;
				flex-direction: column;
				gap: 0.25rem;
				flex: 1;

				p {
					margin: 0;
					font-size: 14px;
					color: #333;
				}
			}

			.file-actions {
				cursor: pointer;

				svg {
					font-size: 18px;
					color: #888;
				}

				&:hover {
					svg {
						color: #d44;
					}
				}
			}
		}

		.browse-btn {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0.5rem 1rem;
			border: 1px solid var(--border-color);
			border-radius: 8px;
			cursor: pointer;
			background-color: var(--primary-color);
			&:hover {
				background-color: transparent;
			}
		}

		.success-file {
			display: flex;
			align-items: center;
			color: #6dc24b;

			p {
				margin: 0;
				font-size: 14px;
				font-weight: bold;
			}
		}

		input[type="file"] {
			display: none;
		}
	}
}
